$colorMain: whitesmoke;
$colorNav: #adadad;
$colorFooter: #061d3a;
$colorTitulos: #0a3569;
$colorSubtitulos: #225973;
$colorBanner: white;
$colorBorde: #003e5a;
$SizeBanner: 1.5rem;
$SizeTitulos: 1.5rem;
$SizeSubtitulos: 1.3rem;
$heightBanner: 150px;
$footerIcon: 1.4rem;