/*Estilo del main alumnos.html*/
.infoAlumnos{
    padding: 2rem;
    p{
        text-align: justify;
    }
}
.aviso{
    text-align: justify;
    padding: 0 3rem 1rem;
}
.ingresoTitulo{
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
    margin: 0 3rem 1rem;
}
@import "components/form-login";