/*Estilo del main autoridades.html*/
.mainAutoridades{
    margin: 0 5rem 2rem;
    p{
        margin: 0rem;
    }
    img{
        margin-bottom: 0;
        border-radius: 5px;
        border: 1px $colorBorde solid;
    }
    
    .card{
        border:none;
        margin-bottom: 1rem;
        .cargo{
            color:$colorSubtitulos;
            font-size: 1.4rem;
            padding: 5px 0;
        }
        .nombre{
            font-size: 1rem;
            color: #003e5a;
            font-weight: bold;
            padding-top: 8px;  
        }
    }
    
}

