@media only screen and (min-width:576px){
    .banner{
        h1{
            font-size: 2.5rem;
        }
    } 
    .titulos{
        font-size: 2rem;
    }
    .subtitulos{
        font-size: 1.7rem;
    }
    /*Estilo del navbar*/
    .menu{
        img{
            width: 60%;
            transition: .7s; 
            &:hover{
                transform: scale(1.1); 
            }
        }
        .nav-item{
            margin-left: 1rem;
            transition: .7s;
            &:hover{
                transform: scale(1.1); 
            } 
        }
    }
    /*Estilo del footer*/
    footer{
        .footerInfo{
            display: grid;
            grid-template-areas: "horario direccion"
                                 "telefono redes"
                                 ;
            justify-content: space-around;
            align-items: space-around;
            .horario{
                grid-area: horario;   
            }
            .direccion{
                grid-area: direccion;   
            }
            .telefono{
                grid-area: telefono;   
            }
            .redes{
                grid-area: redes;   
            }   
        }
        img{
            transition: .7s; 
            &:hover{
                transform: scale(1.2); 
            }
        }   
    }
    
    /*Estilo del main index.html*/
    .carouselIndex{
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    p{
                        &:first-child{
                            @include textCarousel-tFuente-mTop(2rem,3%);   
                            margin-left:30px;
                        }
                        &:last-child{
                            @include textCarousel-tFuente-mTop(1rem,35%);
                        }
                    }
                }
            }
        }  
    }
    .mainIndex{
        display: grid;
        grid-template-areas: "carouselIndex carouselIndex"
                             "mainArticle map"
                             ;
        justify-content: space-around;
        align-items: center;
        grid-template-columns: 60% 40%;   
    }
    .carouselIndex{
        grid-area: carouselIndex;   
    }
    .mainArticle{
        grid-area: mainArticle;  
    }
    .map{
        grid-area: map;   
    }
    /*Estilo del main info.html*/
    .mainInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .video{
        width: 80%;
    }
    .articuloInfo{
        width: 80%;
    }
    .carouselInfo{
        width: 80%;
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    p{
                        @include textCarousel-tFuente-mTop(2rem,3%);
                        margin-left:30px;
                    }
                }
            }
        } 
    }
    /*Estilo del main autoridades.html*/
    .mainAutoridades{
        display: grid;
        grid-template-areas: "titulos titulos"
                             "cargo1 cargo1"
                             "cargo2 cargo3"
                             ;
        justify-content: center;
        justify-items: center;
        column-gap: 3rem;
        .titulos{
            grid-area: titulos;   
        }
        .cargo1{
            grid-area: cargo1;

        }
        .cargo2{
            grid-area: cargo2;   
        }
        .cargo3{
            grid-area: cargo3;   
        }
        img{
            max-width: 350px;
            transition: .7s;
            &:hover{
                transform: scale(1.03); 
            }
        }
    }
    /*Estilo del main contacto.html*/
    .mainContacto{
        .imgContacto{
            width: 70%;
        }
        .formContacto{
            width: 70%;
        }
    }
}

