@media only screen and (min-width:992px){
    .banner{
        height: 300px;
        h1{
            font-size: 3rem;
        }
    }
    .titulos{
        font-size: 2.3rem;
    }
    .subtitulos{
        font-size: 2rem;
    }
    /*Estilo del footer*/
    .footerInfo{
        @include flex-row-around;   
    }
    
    /*Estilo del main index.html*/
    .carouselIndex{
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    p{
                        &:first-child{
                            @include textCarousel-tFuente-mTop(2.5rem,3%);
                            margin-left:30px;
                        }
                        &:last-child{
                            @include textCarousel-tFuente-mTop(1.5rem,47%);
                        }
                    }
                }
            }
        }  
    }
    /*Estilo del main info.html*/
    .carouselInfo{
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    p{
                        @include textCarousel-tFuente-mTop(2.5rem,3%);
                        margin-left:30px;
                    }
                }
            }
        } 
    }
    /*Estilo del main alumnos.html*/
    .mainAlumnos{
        display: grid;
        grid-template-areas: "infoAlumnos aviso"
                             "ingesoBox ingesoBox"
                             ;
        justify-content: space-around;
        align-items: center;
        grid-template-columns: 60% 40%;   
    }
    .infoAlumnos{
        grid-area: infoAlumnos;   
    }
    .ingesoBox{
        grid-area: ingesoBox;   
    }
    .aviso{
        grid-area: aviso;   
    }
    .ingreso{
        input[type=text]{
            width: 25rem;
        }
        button[type=submit]{
            width: 25rem;
        }   
    }
    /*Estilo del main autoridades.html*/
    .mainAutoridades{
        display: grid;
        grid-template-areas: "titulos titulos titulos titulos"
                             "infoAutoridades infoAutoridades infoAutoridades infoAutoridades"
                             "director director director director"
                             "cargo2 cargo3 cargo4 cargo5"
                             ;
        justify-items: center;
        column-gap: 1rem;
        .titulos{
            grid-area: titulos;   
        }
        .infoAutoridades{
            grid-area: infoAutoridades;   
        }
        .director{
            grid-area: director;
        }
        .cargo2{
            grid-area: cargo2;   
        }
        .cargo3{
            grid-area: cargo3;   
        }
        .cargo4{
            grid-area: cargo4;   
        }
        .cargo5{
            grid-area: cargo5;   
        }  
    }
    /*Estilo del main contacto.html*/
    .mainContacto{
        margin: 0 2rem;
        display: grid;
        grid-template-areas: "titulos titulos"
                             "imgContacto formContacto"
                             ;
        justify-content: center;
        align-items: center;
        grid-template-columns: 50% 50%;  
        .titulos{
            grid-area: titulos;   
        }
        .imgContacto{
            grid-area: imgContacto;
            width: 100%;
            padding-bottom: 5rem;
             
        }
        .formContacto{
            grid-area: formContacto; 
            width: 100%;
        } 
    }               
}