@media only screen and (min-width:992px){
    .banner{
        height: 300px;
        h1{
            font-size: 3rem;
        }
    }
    .titulos{
        font-size: 2.3rem;
    }
    .subtitulos{
        font-size: 2rem;
    }
    /*Estilo del footer*/
    footer{
        .footerInfo{
            @include flex-row-around;  
        }
    }
    
    
    /*Estilo del main index.html*/
    .mainIndex{
        grid-template-columns: 50% 50%;
    }
    .carouselIndex{
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    p{
                        &:first-child{
                            @include textCarousel-tFuente-mTop(2.5rem,1%);
                            margin-left:2%;
                        }
                        &:last-child{
                            @include textCarousel-tFuente-mTop(1.5rem,40%);
                        }
                    }
                }
            }
        }  
    }
    /*Estilo del main info.html*/
    .video{
        width: 70%;
    }
    .articuloInfo{
        width: 70%;
    }
    .carouselInfo{
        width: 70%;
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    p{
                        @include textCarousel-tFuente-mTop(2.5rem,1%);
                        margin-left:2%;
                    }
                }
            }
        } 
    }
    /*Estilo del main alumnos.html*/
    .mainAlumnos{
        display: grid;
        grid-template-areas: "infoAlumnos aviso"
                             "ingesoBox ingesoBox"
                             ;
        justify-content: space-around;
        align-items: center;
        grid-template-columns: 60% 40%;   
    }
    .infoAlumnos{
        grid-area: infoAlumnos;   
    }
    .ingesoBox{
        grid-area: ingesoBox;   
    }
    .aviso{
        grid-area: aviso;   
    }
    .ingreso{
        input[type=text]{
            width: 25rem;
        }
        button[type=submit]{
            width: 25rem;
        }   
    }
    /*Estilo del main autoridades.html*/
    .mainAutoridades{
        display: flex;
        align-items: center;
        justify-items: center;
        margin-top: 2rem;       
    }
    /*Estilo del main contacto.html*/
    .mainContacto{
        margin: 0 2rem;
        display: grid;
        grid-template-areas: "titulos titulos"
                             "imgContacto formContacto"
                             ;
        justify-content: center;
        align-items: center;
        grid-template-columns: 50% 50%;  
        .titulos{
            grid-area: titulos;   
        }
        .imgContacto{
            grid-area: imgContacto;
            width: 100%;
            padding-bottom: 5rem;
             
        }
        .formContacto{
            grid-area: formContacto; 
            width: 100%;
        } 
    }               
}