/*Estilo del main contacto.html*/
.mainContacto{
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .imgContacto{
        padding: 1rem;
        width: 100%;
        img{
            width: 100%;
            border: $colorBorde solid 1px;
            border-radius: 5px; 
        }
    }
    @import "components/form-contacto";
}