footer{
    padding: 0rem;
    font-weight: 100%;
    background-color:$colorFooter;
    color: white;
    text-align: center; 
    img{
        margin: 0 .5rem;
    }
    a{
        text-decoration: none;
        color: white;
        &:hover{
            color: #00A6F2;
        }
    }
    .subir{
        font-weight: bold;
        padding-top: .3rem;
    }
    p{
        margin-bottom: 0;
    }
    .imgFooter{
        width: $footerIcon;
        height: auto;
    }
    .footerInfo{
        padding: .7rem 0;
        div{
            padding: .3rem 0;
        }
        .redes{
            display: flex;
            justify-content: center;
        }  
    }
    .derechos{
        font-size: smaller;
        background-color: #061d3a;
        padding: .3rem;
        .separador{
            display: none;
        }

    }
}