.mainIndex{
    background-color: $colorMain;
    @import "components/corousel-index";
    .mainArticle{
        text-align: justify;
        line-height: 1.5rem;
        padding: 2rem;    
    }
    .map{
        padding: 0 2rem 2rem;
        iframe{
            width: 100%;
         }
    }
}
