/*Estilo del main index.html*/
.mainIndex{
    @import "components/corousel-index";
    .mainArticle{
        text-align: justify;
        line-height: 1.5rem;
        padding: 2rem 2rem 0;    
    }
    .map{
        padding:  2rem 2rem 2rem;
        position: relative;
        iframe{
            width: 100%;
            aspect-ratio: 4 / 3;
         }
    }
}
