.carousel{
    padding: 0rem;
    .carousel-caption{
        text-align: center;
        color: #ffffff;
        text-shadow: 0 0 5px black, 0 0 5px black;
        font-weight: bold;
        width: 100%;
        height: 100%;
        left:0;
        p{
            &:first-child{
                text-align: left;
                margin-left:30px;
                @include textCarousel-tFuente-mTop(1rem,5%);
            }
            &:last-child{
                text-align: center;
                @include textCarousel-tFuente-mTop(.7rem,40%);  
            } 
        }
    }
}