.formContacto{
    padding: 1rem;
    width: 100%;
    button{
        @extend .formColorBorder;
        width: 80%;
        &:hover{
            background-color: #004c6e;
        }
    }
    input[type=checkbox]{
        @extend .formColorBorder;
        align-content: center;
    }
    select{
        margin-bottom: 1.5rem;
    }
    .form-check{
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: center;

    }
}